<p>This is the partial for Settings</p>

<div class="form-group">
  <div class="col-md-4">
    <label>Service host:</label>
  </div>
  <div class="col-md-8">
    <input type="text" ng-model="hostname" class="form-control">
  </div>
</div>

<div class="form-group">
  <div class="col-md-4">
    <label>Consumer key/secret:</label>
  </div>
  <div class="col-md-4">
    <input type="text" ng-model="consumer_key" class="form-control">
  </div>
  <div class="col-md-4">
    <input type="text" ng-model="consumer_secret" class="form-control">
  </div>
</div>

<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
