<p>This is the partial for ngMode experiments global</p>

<div>
  <table-global-directive />
</div>

<form>
  <div>
    <select ng-model="tableContent.form.correctlySelected"
            ng-options="opt as opt.label for opt in options">
    </select>
  </div>

  <div>
    <input type="radio" ng-model="tableContent.form.name" value="red">  Red <br/>
    <input type="radio" ng-model="tableContent.form.name" value="green"> Green <br/>
    <input type="radio" ng-model="tableContent.form.name" value="blue"> Blue <br/>
  </div>
</form>